@using System.Security.Policy
@using Folkways.Collection.Helpers
@using Folkways.Collection.Models
@{
    var albumPart = (AlbumPart)Model.ContentPart;
    var artistName = albumPart.GetArtistName();
}

@if (!String.IsNullOrWhiteSpace(artistName))
{
    if (albumPart.Artist != null)
    {
        <div class="artist no-underline">
            <a href="/search?query=@Url.Encode(albumPart.Artist.Name)">@albumPart.Artist.Name</a>
        </div>
    }
    else
    {
        <div class="artist no-underline">
            @T("{0}", artistName)
        </div>
    }
}