@using Folkways.Collection.Models
@{
    var albumPart = (AlbumPart)Model.ContentPart;
}
@if (albumPart.RelatedContent != null)
{
<div style="float:left; position: relative; margin-bottom: 20px; display: block;" class="hidden-xs">
    @T(albumPart.RelatedContent)
</div>
}