@using Folkways.Collection.Models
@{
    var albumPart = (AlbumPart)Model.ContentPart;
}

     <div class="visible-md visible-lg">
        <center>
                <a href="/search?query=@Url.Encode(albumPart.RecordLabelName)"><img alt="@T(albumPart.RecordLabelName)" src="@Url.Content("/images/logos/label-270/" + albumPart.RecordLabel.ShortName + ".jpg")" width="100%" /></a>
        </center>
    </div>
    <div class="visible-xs visible-sm">
        <center>
                <a href="/search?query=@Url.Encode(albumPart.RecordLabelName)"><img alt="@T(albumPart.RecordLabelName)" src="@Url.Content("/images/logos/label-700/" + albumPart.RecordLabel.ShortName + ".jpg")" width="100%" /></a>
        </center>
    </div>
