@using Folkways.Collection.Models
@{
    var languages = ((IEnumerable<Language>)Model.ContentPart.Languages).ToList();
}
@if (languages.Any())
{
    <div class="sidebar-item album-info">
        <h4 class="genre">Language(s)</h4>
        <div class="copy">
            @for (var i = 0; i < languages.Count; i++)
            {
                var language = languages[i];
                <a href="/search?query=@Url.Encode(language.Name)">@language.Name</a>if (i < languages.Count - 1)
                {<span>; </span>}
            }
        </div>
    </div>
}
