@using Folkways.Collection.Models
@{
    var albumPart = (AlbumPart)Model.ContentPart;
}

<div class="row">
    <div class="col-sm-12">
        <h3 class="sidebar-section-title">Album Info</h3>

            @if (albumPart.ReleaseDate != null)
            {
                <div class="sidebar-item album-info">
                    <h4 class="year-released">Year Released</h4>
                    <div class="copy">
                        <a href="/search?query=@Url.Encode(T("{0:yyyy}", albumPart.ReleaseDate).Text)">@T("{0:yyyy}", albumPart.ReleaseDate)</a>
                    </div>
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(albumPart.RecordLabelName))
            {
                <div class="sidebar-item album-info">
                    <h4 class="record-label">Record Label</h4>
                    <div class="copy">
                        <a href="/search?query=@Url.Encode(albumPart.RecordLabelName)">@T("{0}", albumPart.RecordLabelName)</a>
                    </div>
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(albumPart.SourceName))
            {

                <div class="sidebar-item album-info">
                    <h4 class="source-archive">Source Archive</h4>
                    <div class="copy">
                        @T("{0}", albumPart.SourceName)
                    </div>
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(albumPart.Copyright))
            {
                <div class="sidebar-item album-info">
                    <h4 class="copyright">Copyright</h4>
                    <div class="copy">
                        @T("{0}", albumPart.Copyright)
                    </div>
                </div>
            }
    </div>
</div>
