@using Folkways.Collection.Models
@{
    var instruments = ((IEnumerable<Instrument>)Model.ContentPart.Instruments).ToList();
}
@if (instruments.Any())
{
    <div class="sidebar-item album-info">
        <h4 class="genre">Instrument(s)</h4>
        <div class="copy">
            @for (var i = 0; i < instruments.Count; i++)
            {
                var instrument = instruments[i];
                <a href="/search?query=@Url.Encode(instrument.Name)">@instrument.Name</a>if (i < instruments.Count - 1)
                {<span>; </span>}
            }
        </div>
    </div>
}
