@using Folkways.Collection.Models
@{
    var albumPart = (AlbumPart)Model.ContentPart;
    var recordLabel = albumPart.RecordLabel ?? RecordLabel.Empty;
    }

@if (!albumPart.MissingLinerNotes)
{
    <a href="@Url.Content("http://media.smithsonianfolkways.org/liner_notes/" + recordLabel.ShortName + "/" + albumPart.CatalogNumber + ".pdf")" class="button last-sidebar-item" target="_blank">
        <div class="button-inner liner-notes">Download Liner Notes</div>
    </a>

}
