@using Festival.Collection.Models

@{
    var pagePart = (PagePart)Model.ContentPart;
    var customTitle = pagePart.CustomTitle;
}

@if (!String.IsNullOrWhiteSpace(customTitle))
{
    @T("{0}", @Html.Raw(pagePart.CustomTitle))
}
else
{
    <h1>@Model.ContentItem.TitlePart.Title</h1>
}

