@using Folkways.Collection.Models
@{
    Style.Include("jquery-ui.min.css");
    Script.Include("jquery-ui-1.10.2.min.js");
    Script.Include("buy-button.js").AtFoot();
    var contentItem = Model.ContentItem;
    var part = (ProductsPart)Model.ContentPart;
    var products = part.Products.ToArray();
}

<div class="row sidebar-section">
    @if (products.Any())
    {
        foreach (var product in products)
        {
            var albumPart = (AlbumPart)contentItem.AlbumPart;
            if (albumPart.CustomProducts == null)
            {
                if (product.OutOfStock)
                {
                    <div class="button buy-button col-sm-7">
                        <div class="button-inner">
                            <span class="title">
                                @product.ProductType.Name Sold Out
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="button buy-button col-sm-7">
                        <div class="button-inner">
                                <input type="submit" name="" value="" onclick="javascript: addProduct('@product.NetsuiteNumber');" />
                                <span class="title">
                                    @product.ProductType.DisplayName
                                </span>
                                <span class="price">
                                    @product.Price.Value.ToString("c")
                                </span>
                        </div>
                    </div>
                }
            }
        }
    }
</div>
